# tell GitHub to ignore these files when determining
# repo language
*.c     linguist-vendored linguist-generated -diff
*.h     linguist-vendored linguist-generated -diff
*.inc   linguist-vendored linguist-generated -diff
